.grid-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.categories-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* width: 100vw; */
    overflow-x: scroll;
    padding-top: 1%;
    padding-bottom: 1%;

    margin: 0% 1%;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: rgb(173, 173, 173);
        border-radius: 5%;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: gray;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: gray;
    }
}

.categories-container__member {
    text-wrap: wrap;
    /* margin: 1% 1%; */
    min-width: 200px;
    max-width: 200px;
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid #646464;
    border-right: 1px solid #646464;
    /* border-right: 1px solid rgba(0, 0, 0, 0); */
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-weight: 500;

    padding: 0% 1%;
}

.categories-container__member>p {
    color: #646262;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1% 1%;
    margin: 0%;
}

.categories-container__member0 {
    border-left: none;
}

@-webkit-keyframes categoryActiveAnimation {
    from {
        color: #646262;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    to {
        color: #2C8F77;
        border-bottom: 1px solid #2C8F77;
    }
}

@keyframes categoryActiveAnimation {
    from {
        color: #646262;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    to {
        color: #2C8F77;
        border-bottom: 1px solid #2C8F77;
    }
}

.categories-container__member-active>p {
    -webkit-animation-name: categoryActiveAnimation;
    -ms-animation-name: categoryActiveAnimation;
    -moz-animation-name: categoryActiveAnimation;
    animation-name: categoryActiveAnimation;

    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;

    /* -webkit-animation-timing-function:ease; */
    /* -ms-animation-timing-function:ease; */
    /* -moz-animation-timing-function:ease; */
    /* animation-timing-function:ease; */

    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    color: #2C8F77;
    border-bottom: 1px solid #2C8F77;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: start;

    /* background-color: rgb(211, 211, 211); */
    gap: 1rem;
    padding: 1rem;

    flex: 1;
    overflow-y: scroll;
}

.grid-item {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.grid-title__providers {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.grid-item__title {
    font-size: 1.2em !important;
    flex: 1;
    color: #3A3A3A;
}

.grid-item__providers-parent {
    position: relative;
    flex: 1;
}

.grid-item__provider-container {
    position: absolute;
}

.grid-item__provider-picture {
    height: 30px !important;
    width: 30px !important;
    border-radius: 999px;
    border: 2px solid white;
}

.grid-item__plus-icon {
    height: 30px !important;
    width: 30px !important;
    color: rgb(70, 70, 70) !important;
    position: absolute;
}

.grid-item__time-container {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 2px;

    margin-top: 1rem;
}

.grid-item__time-container__time {
    font-size: 0.7em;
    font-weight: bold;
    text-align: right;
    color: #2C8F77;
}

.grid-item__time-container__icon {
    color: #2C8F77 !important;
}

.grid-item__availability {
    position: absolute;
    left: -0.1rem;
    top: -0.1rem;
    border-radius: 999px;
    padding: 0%;
    margin: 0%;
    height: 10px;
    width: 10px;
}

@media only screen and (max-width: 1024px) {
    .grid-item__title {
        font-size: 1.1em !important;
    }
}

@media only screen and (max-width: 768px) {
    .grid-parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item__title {
        font-size: 1.1em !important;
    }
}

@media only screen and (max-width: 680px) {
    .grid-parent {
        grid-template-columns: repeat(1, 1fr);
    }
}